.card-title {
    text-align: center;
    color:#efefef;
}

.block {
    position: relative;
    display: block;
    flex-direction: column;
    margin-bottom: 50px;
    overflow: auto;
}

.monospaced {
    font-family: 'Space Mono', monospace;
}

textarea:focus, input:focus {
    color: #84ecd7;
}

::placeholder {
    color: #4c857b;
    opacity: 1; /* Firefox */
}

select {
    margin-bottom: 10px;
}

label {
    color:#efefef;
}
