.card-title {
    text-align: center;
    color:#efefef;
}

.block {
    position: relative;
    display: block;
    flex-direction: column;
    margin-bottom: 50px;
    overflow: auto;
}

.monospaced {
    font-family: 'Space Mono', monospace;
}

input[type=text]:focus {
    color: #84ecd7;
}

::placeholder {
    color: #4c857b;
    opacity: 1; /* Firefox */
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    color:#efefef;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=number]:focus {
    color:#212121;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

a:link {
    color:#efefef;
}

a:visited {
    color:#efefef;
}

a:hover {
    color:#212121;
}


p {
    color:#efefef;
}

.subtitle {
    margin-bottom: 0px;
}
