<!DOCTYPE html>
<html>
    <head>
        <link href="/static/surface_styles.css" rel="stylesheet"/>
        <link href="/static/mystyle.css" rel="stylesheet"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet"> 
    </head>
    <body class="bg--teal">
        <header class="bg--black container" style="box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);">
            <h1 class="m--1 g--6 color--paper">PubMed Search</h1>
        </header>
        <div id="content" class="center" style="width: 100%;">

            <div class="block center card bg--black g--6">
                <h3 class="card-title">Pull publications</h3>
                <div class="container center">
                    <div class="center">
                        <label for="pages">Number of pages:</label>
                            <input id="pages" class="monospaced" type="number" placeholder="Number of pages" value="1"/>
                            <br>
                            <label for="results-per-page">Results per page:</label>
                            <select id="results-per-page">
                                <option value="10">10 (ten)</option>
                                <option value="20">20 (twenty)</option>
                                <option value="50">50 (fifty)</option>
                                <option value="100">100 (one-hundred)</option>
                                <option value="200">200 (two-hundred)</option>
                            </select>
                    </div>
                    <div class="container center">
                        <div>
                            <input class="monospaced" type="text" id="pubmed-pull" placeholder="Query"/>
                        </div>
                        <div class="m--1">
                            <button id="pull-query" class="btn--raised btn--primary" onclick="pubmedPull()">Pull</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block center card bg--black g--6">
                <h3 class="card-title">Search</h3>
                <div class="container center">
                    <div class="container center">
                        <div class="m--1">
                            <label for="select-dataset">Dataset:</label>
                            <select id="select-dataset">
                            </select>
                            <br>
                            <label for="select-search">Algorithm:</label>
                            <select id="select-search">
                                <option value="boolean">Boolean</option>
                                <option value="vector">Vector Space Model</option>
                                <option value="okapi">Okapi BM25</option>
                            </select>
                            <br>
                            <div class="container">
                                <input type="radio" id="choice-stem" name="text-proc" value="stem" checked="checked" />
                                <label for="choice-stem">Stemming</label>
                                <input type="radio" id="choice-lem" name="text-proc" value="lem"/>
                                <label for="choice-lem">Lemmatization</label>
                            </div>
                        </div>
                    </div>
                    <div class="container center">
                        <div class="m--1">
                            <label for="select-fields">Search in:</label>
                            <select id="select-fields">
                                <option value="all">Everything</option>
                                <option value="title">Title</option>
                                <option value="authors">Authors</option>
                                <option value="abstract">Abstract</option>
                                <option value="date">Date</option>
                            </select>
                            <br>
                            <div class="container center">
                                <div>
                                    <input id="search-query" class="monospaced" type="text" placeholder="Query"/>
                                </div>
                                <div class="m--1">
                                    <button onclick="pubmedSearch()" class="btn--raised btn--primary">Search</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </div>
        <script>
            async function pubmedPull() {
                if (document.getElementById("pubmed-pull").value == "") {
                    alert("Please, fill-in the pull field.");
                    return;
                }
                document.getElementById("pull-query").disabled = true;
                
                const query = document.getElementById("pubmed-pull").value;
                const filename = "d" + Date.now();
                const pages = document.getElementById("pages").value;
                const results_per_page = document.getElementById("results-per-page").value;
                const url = "/get_data/" + query + "/" + filename + "/" + pages + "/" + results_per_page;
                await fetch(url)
                    .then((response) => response.json())
                    .then((json) => {
                        if ("error" in json) {
                            alert(json["error"]);
                            return;
                        }

                        var datasetSelect = document.getElementById("select-dataset");
                        var option = document.createElement("option");
                        option.setAttribute("value", json["success"]);
                        option.text = json["success"];
                        datasetSelect.appendChild(option);
                    });

                document.getElementById("pull-query").disabled = false;
            }
        </script>
        <script>
            async function pubmedSearch() {
                if (document.getElementById("search-query").value == "") {
                    alert("Please, fill-in the search field.");
                    return;
                }

                if (document.getElementById("select-dataset").length  < 1) {
                    alert("There's no data to work with. Please, pull publications first.");
                    return;
                }

                var resultsDiv = document.getElementById("results");
                if (resultsDiv == null) {
                    var contentDiv = document.getElementById("content");
                    
                    resultsDiv = document.createElement("div");
                    resultsDiv.setAttribute("id", "results")
                    resultsDiv.classList.add("block","center", "card", "bg--black", "g--6");

                    var titleHeader = document.createElement("h3");
                    titleHeader.classList.add("card-title");
                    titleHeader.innerText = "Results";
                    resultsDiv.appendChild(titleHeader);

                    contentDiv.appendChild(resultsDiv);

                    var resultsList = document.createElement("div");
                    resultsList.setAttribute("id", "results-list");
                    resultsList.classList.add("m--1");

                    resultsDiv.appendChild(resultsList);
                }

                var resultsList = document.getElementById("results-list");
                resultsList.innerHTML = "";

                const dataset = document.getElementById("select-dataset").value;
                const algorithm = document.getElementById("select-search").value;
                const textproc = document.querySelector('input[name="text-proc"]:checked').value
                const where = document.getElementById("select-fields").value;
                const query = document.getElementById("search-query").value;
                const url = "/search/" + dataset + "/" + algorithm + "/" + textproc + "/" + where + "/" + query
                await fetch(url)
                    .then((response) => response.json())
                    .then((json) => {
                        if ("error" in json) {
                            alert("Search query error: " + json["error"]);
                            return;
                        }

                        const pubmed_link = "https://pubmed.ncbi.nlm.nih.gov/";

                        for (var i = 0; i < json.length; i++) {
                            const pmid = json[i]["pmid"];
                            const title = json[i]["title"];
                            const abstract = json[i]["abstract"];
                            const date = json[i]["date"];
                            const authors = json[i]["authors"].toString();

                            var result = document.createElement("div");
                            var link = document.createElement("a");
                            link.href = pubmed_link + pmid;
                            link.text = title;
                            
                            var details = document.createElement("p");
                            details.classList.add("subtitle");
                            details.innerHTML = "PMID: " + pmid + "; Date: " + date + "; Authors: " + authors

                            var overview = document.createElement("p");
                            overview.innerHTML = abstract;

                            result.appendChild(link);
                            result.appendChild(details);
                            result.appendChild(overview);
                            resultsList.appendChild(result);
                        }
                    });

                return;
            }
        </script>
        <script>
            var datasetSelect = document.getElementById("select-dataset");

            const url = "/get_files";
            fetch(url)
                .then((response) => response.json())
                .then((json) => {
                    for (var i = 0; i < json.length; i++) {
                        var option = document.createElement("option");
                        option.setAttribute("value", json[i]);
                        option.text = json[i];
                        datasetSelect.appendChild(option);
                    }
                });
        </script>
    </body>
</html>